<div class="navbar">
  <a [routerLink]="['new']">Add an author</a>
</div>
<div >
  <h3>We have quotes by:</h3>
  <table class="table-striped">
    <thead>
      <tr>
        <th scope="col">Author</th>
        <th scope="col">Actions Available</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let author of authors">
        <td>{{author.author}}</td>
        <td><button (click)="edit(author._id)">Edit</button><button (click)="delete(author.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
